.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
npm/npm-backup-current.txt.*

/zsh/**/*.zwc*
/zsh/.zcompdump*
/zsh/.zinit/
/zsh/.zsh_history
.DS_STORE
