.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
npm/npm-backup-current.txt.*

**/zsh/**/*.zwc*
**/zsh/.zcompdump*
**/zsh/.zinit/
**/zsh/.zsh_history
**/zsh/.zsh_sessions
.DS_STORE
/nvim/.netrwhist
/backup/Brewfile.lock.json
/setup/setup.log
tags
**/sshndp*
**/__pycache__

# Fish
shell/fish/fish_variables
fish_variables
**/fishd.tmp*

# Random Files
**/dist
**/build
**/venv
