/* See https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css*/

/**
 * STATUS-BAR | hide a few items
 */

.monaco-workbench .editor-status-indentation,
.monaco-workbench .editor-status-encoding,
.monaco-workbench .editor-status-eol,
.octicon-paintcan:before {
  display: none !important;
}

/* suggest-widget size */

.monaco-editor .suggest-widget.docs-side {
  width: 1000px;
}

.monaco-editor .suggest-widget.docs-side > .details {
  width: 60%;
  max-height: 800px !important;
}

.monaco-editor .suggest-widget.docs-side > .tree {
  width: 30%;
  float: left;
}

/* parameter-hints-widget */

.editor-widget.parameter-hints-widget.visible {
  max-height: 800px !important;
}

.monaco-editor .parameter-hints-widget > .wrapper {
  max-width: 1000px;
}

/* editor-hover */

.monaco-editor-hover .monaco-editor-hover-content {
  max-width: 1000px;
}
